{% extends "main/layout.html" %}
{% block content %}
  <article class="row content-section individual-qwipp">
    <div class="d-flex media">
        <img class="me-3 rounded-circle border border-highlight" width="65px" height="65px" src="{{ url_for('static', filename='profile_pics/' + qwipp.author.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="author-link mr-2" href="{{ url_for('users.profile', username=qwipp.author.username) }}">{{ qwipp.author.displayname }}</a>
                <small class="text-muted">@{{ qwipp.author.username }}</small>
            </div>
            <div class="content">
                <p class="article-content">{{ qwipp.content }}</p>
            <div>
            <small class="date-time text-muted">{{ qwipp.date_posted.strftime('%b %d, %Y') }}</small>
            {% if qwipp.date_edited != None %}
                <small class="date-time text-muted ms-4">Edited: {{ qwipp.date_edited.strftime('%b %d, %Y') }}</small>
            {% endif %}
        </div>
        {% if qwipp.author == current_user %}
            <div>
                <a class="btn btn-outline-primary mt-4" href="{{ url_for('users.update_qwipp', username=current_user.username, qwipp_id=qwipp.id) }}">Update</a>
                <button type="button" class="btn btn-danger mt-4 ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Qwipp?</h5>
                      </div>
                      <div class="modal-footer d-flex">
                        <form action="{{ url_for('users.delete_qwipp', username=qwipp.author, qwipp_id=qwipp.id) }}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        {% endif %}
    </div>
  </article>
{% endblock content %}