{% extends "main/layout.html" %}
{% block content %}
        <div class="profile-content row">
            <img class="banner-image" height="200px" src="{{ url_for('static', filename='banner_pics/' + user.banner_file) }}">
            <div class="profile-info col">
                <img class="me-3 rounded-circle border border-highlight profile-picture" width="130px" height="130px" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
                <div class="profile-name">
                    <h5 class="main-font-nh mr-2">{{ user.displayname }}</h5>
                    <h6 class="text-muted">@{{ user.username }}</h6>
                </div>
                <div class="bio">
                    <small class="main-font-nh">
                    </small>
                </div>
            </div>
            {% if current_user.is_authenticated %}
                {% if user == current_user %}
                    <div class="profile-button edit-profile col">
                        <a href="{{ url_for('users.settings') }}" class="btn btn-outline-primary m-2">Edit Profile</a>
                    </div>
                {% else %}
                    <div class="profile-button follow col">
                        <button type="button" class="btn btn-outline-primary m-2">Follow</button>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="row profile-center-content-top">
            <div class="col feed-option feedoption active" onclick="QwippQwill(event, 'qwipp')" id="defaultOpen">
                <h4>Qwipps</h4>
            </div>
            <div class="col feed-option feedoption profile-feed-qwill" onclick="QwippQwill(event, 'qwill')">
                <h4>Qwills</h4>
            </div>
        </div>
    <div id="qwipp" class="feed">
        {% if qwipps |length != 0 %}
            {% for qwipp in qwipps %}
                <article onclick="location.href='{{ url_for('users.qwipp', username=qwipp.author.username, qwipp_id=qwipp.id) }}'" class="row content-section">
                    <div class="d-flex media">
                        <img class="me-3 rounded-circle border border-highlight" width="65px" height="65px" src="{{ url_for('static', filename='profile_pics/' + qwipp.author.image_file) }}">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="author-link-nh mr-2">{{ qwipp.author.displayname }}</a>
                                <small class="text-muted">@{{ qwipp.author.username }}</small>
                            </div>
                            <div class="content">
                                <p class="article-content">{{ qwipp.content }}</p>
                            <div>
                            <small class="date-time text-muted">{{ qwipp.date_posted.strftime('%b %d, %Y') }}</small>
                            {% if qwipp.date_edited != None %}
                                <small class="date-time text-muted ms-4">Edited: {{ qwipp.date_edited.strftime('%b %d, %Y') }}</small>
                            {% endif %}
                            <div class="bottom-content mt-2">
                                {% if qwipp.author.username == current_user.username %}
                                    <small class="main-font-nh">
                                        <span id="likes-qwipp-{{ qwipp.id }}">{{ qwipp.likes }}</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                        </svg>
                                    </small>
                                {% else %}
                                    {% if current_user.is_authenticated %}
                                        {% if qwipp in current_user.liked_qwipps %}
                                            <small class="likes">
                                                <a onclick="likeQwipp('{{ qwipp.author.username }}', {{ qwipp.id }}); event.stopPropagation();" class="main-font">
                                                    <span id="likes-qwipp-{{ qwipp.id }}">{{ qwipp.likes }}</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="heart-qwipp-{{ qwipp.id }}" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                    </svg>
                                                </a>
                                            </small>
                                        {% else %}
                                            <small class="likes">
                                                <a onclick="likeQwipp('{{ qwipp.author.username }}', {{ qwipp.id }}); event.stopPropagation();" class="main-font">
                                                    <span id="likes-qwipp-{{ qwipp.id }}">{{ qwipp.likes }}</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="heart-qwipp-{{ qwipp.id }}" class="bi bi-heart" viewBox="0 0 16 16">
                                                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                    </svg>
                                                </a>
                                            </small>
                                        {% endif %}
                                    {% else %}
                                        <small class="likes">
                                            <a href="{{ url_for('users.signin') }}" class="main-font">
                                                <span id="likes-qwipp-{{ qwipp.id }}">{{ qwipp.likes }}</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="heart-qwipp-{{ qwipp.id }}" class="bi bi-heart" viewBox="0 0 16 16">
                                                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                </svg>
                                            </a>
                                        </small>
                                    {% endif %}
                                {% endif %}
                                <small class="main-font-nh ms-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text comments" viewBox="0 0 16 16">
                                      <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                      <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                    </svg>
                                </small>
                                <small class="main-font-nh views ms-3">
                                    {{ qwipp.views }}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                </small>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <article class="row content-section profile-empty-content-section">
                <div class="media">
                    <div class="media-body">
                        <div class="content">
                            {% if user == current_user %}
                                <h4 class="article-content">Qwipp something to start filling up this feed!</h4>
                            {% else %}
                                <h4 class="article-content">There doesn't seem to be any content here.</h4>
                            {% endif %}
                        <div>
                    </div>
                </div>
            </article>
        {% endif %}
    </div>
    <div id="qwill" class="feed">
        {% if qwills |length != 0 %}
            {% for qwill in qwills %}
                <article onclick="location.href='{{ url_for('users.qwill', username=qwill.author.username, qwill_id=qwill.id) }}'" class="row content-section">
                    <div class="d-flex media">
                        <img class="me-3 rounded-circle border border-highlight" width="65px" height="65px" src="{{ url_for('static', filename='profile_pics/' + qwill.author.image_file) }}">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="author-link mr-2" href="{{ url_for('users.profile', username=qwill.author.username) }}">{{ qwill.author.displayname }}</a>
                                <small class="text-muted">@{{ qwill.author.username }}</small>
                            </div>
                            <div class="qwill-title">
                                <h2>{{ qwill.title }}</h2>
                            </div>
                            <div class="content">
                                {% if qwill.content | length > 256 %}
                                    <p class="article-content">{{ qwill.content[0:256] }}<small class="text-muted">... Read More</small></p>
                                {% else %}
                                    <p class="article-content">{{ qwill.content }}</p>
                                {% endif %}
                            <div>
                            <small class="date-time text-muted">{{ qwill.date_posted.strftime('%b %d, %Y') }}</small>
                            {% if qwill.date_edited != None %}
                                <small class="date-time text-muted ms-4">Edited: {{ qwill.date_edited.strftime('%b %d, %Y') }}</small>
                            {% endif %}
                            <div class="bottom-content mt-2">
                                {% if qwill.author.username == current_user.username %}
                                    <small class="main-font-nh">
                                        <span id="likes-qwill-{ qwill.id }}">{{ qwill.likes }}</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                        </svg>
                                    </small>
                                {% else %}
                                    {% if current_user.is_authenticated %}
                                        {% if qwill in current_user.liked_qwills %}
                                            <small class="likes">
                                                <a onclick="likeQwill('{{ qwill.author.username }}', {{ qwill.id }}); event.stopPropagation();" class="main-font">
                                                    <span id="likes-qwill-{{ qwill.id }}">{{ qwill.likes }}</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="heart-qwill-{{ qwill.id }}" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                    </svg>
                                                </a>
                                            </small>
                                        {% else %}
                                            <small class="likes">
                                                <a onclick="likeQwill('{{ qwill.author.username }}', {{ qwill.id }}); event.stopPropagation();" class="main-font">
                                                    <span id="likes-qwill-{{ qwill.id }}">{{ qwill.likes }}</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="heart-qwill-{{ qwill.id }}" class="bi bi-heart" viewBox="0 0 16 16">
                                                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                    </svg>
                                                </a>
                                            </small>
                                        {% endif %}
                                    {% else %}
                                        <small class="likes">
                                            <a href="{{ url_for('users.signin') }}" class="main-font">
                                                <span id="likes-qwill-{{ qwill.id }}">{{ qwill.likes }}</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="heart-qwill-{{ qwill.id }}" class="bi bi-heart" viewBox="0 0 16 16">
                                                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                </svg>
                                            </a>
                                        </small>
                                    {% endif %}
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                    <a href="{{ url_for('users.reply_qwill', username=qwill.author.username, qwill_id=qwill.id) }}" class="main-font ms-3">
                                        <span id="replies-qwill-{{ qwill.id }}">{{ qwill.replies | length }}</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text comments" viewBox="0 0 16 16">
                                          <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                          <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                    </a>
                                {% else %}
                                    <small class="main-font-nh ms-3">
                                        <span id="replies-qwill-{{ qwill.id }}">{{ qwill.replies | length }}</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text comments" viewBox="0 0 16 16">
                                          <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                          <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                    </small>
                                {% endif %}
                                <small class="main-font-nh views ms-3">
                                    {{ qwill.views }}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                </small>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <article class="row content-section profile-empty-content-section">
                <div class="media">
                    <div class="media-body">
                        <div class="content">
                            {% if user == current_user %}
                                <h4 class="article-content">Create a Qwill to start filling up this feed!</h4>
                            {% else %}
                                <h4 class="article-content">There doesn't seem to be any content here.</h4>
                            {% endif %}
                        <div>
                    </div>
                </div>
            </article>
        {% endif %}
    </div>
    <script>
        function QwippQwill(evt, qwippQwill) {
          var i, feed, feedoption;
          feed = document.getElementsByClassName("feed");
          for (i = 0; i < feed.length; i++) {
            feed[i].style.display = "none";
          }
          feedoption = document.getElementsByClassName("feedoption");
          for (i = 0; i < feedoption.length; i++) {
            feedoption[i].className = feedoption[i].className.replace(" active", "");
          }
          document.getElementById(qwippQwill).style.display = "block";
          evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();

        function likeQwipp(username, qwipp_id) {
            var svg = document.getElementById("heart-qwipp-" + qwipp_id);
            if (svg.getAttribute("class") === "bi bi-heart") {
                svg.setAttribute("class", "bi bi-heart-fill");
                svg.innerHTML = '<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>';
                $('#likes-qwipp-' + qwipp_id).text(parseInt($('#likes-qwipp-' + qwipp_id).text()) + 1);
            } else {
                svg.setAttribute("class", "bi bi-heart");
                svg.innerHTML = '<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>';
                $('#likes-qwipp-' + qwipp_id).text(parseInt($('#likes-qwipp-' + qwipp_id).text()) - 1);
            }

            $.ajax({
                url: '/' + username + '/qwipp/' + qwipp_id + '/like',
                type: 'POST',
                data: { qwipp_id },
            });
        }

        function likeQwill(username, qwill_id) {
            var svg = document.getElementById("heart-qwill-" + qwill_id);
            if (svg.getAttribute("class") === "bi bi-heart") {
                svg.setAttribute("class", "bi bi-heart-fill");
                svg.innerHTML = '<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>';
                $('#likes-qwill-' + qwill_id).text(parseInt($('#likes-qwill-' + qwill_id).text()) + 1);
            } else {
                svg.setAttribute("class", "bi bi-heart");
                svg.innerHTML = '<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>';
                $('#likes-qwill-' + qwill_id).text(parseInt($('#likes-qwill-' + qwill_id).text()) - 1);
            }

            $.ajax({
                url: '/' + username + '/qwill/' + qwill_id + '/like',
                type: 'POST',
                data: { qwill_id: qwill_id },
            });
        }
    </script>
{% endblock content %}