{% extends "main/layout.html" %}
{% block content %}
        <div class="profile-content row">
            <img class="banner-image" height="200px" src="{{ url_for('static', filename='banner_pics/' + user.banner_file) }}">
            <div class="profile-info col">
                <img class="me-3 rounded-circle border border-highlight profile-picture" width="130px" height="130px" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
                <div class="profile-name">
                    <h5 class="main-font-nh mr-2">{{ user.displayname }}</h5>
                    <h6 class="text-muted">@{{ user.username }}</h6>
                </div>
                <div class="bio">
                    <small class="main-font-nh">
                    </small>
                </div>
            </div>
            {% if current_user.is_authenticated %}
                {% if user == current_user %}
                    <div class="profile-button edit-profile col">
                        <a href="{{ url_for('users.settings') }}" class="btn btn-outline-primary m-2">Edit Profile</a>
                    </div>
                {% else %}
                    <div class="profile-button follow col">
                        <button type="button" class="btn btn-outline-primary m-2">Follow</button>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="row profile-center-content-top">
            <div class="col feed-option feedoption active" onclick="QwippQwill(event, 'qwipp')" id="defaultOpen">
                <h4>Qwipps</h4>
            </div>
            <div class="col feed-option feedoption profile-feed-qwill" onclick="QwippQwill(event, 'qwill')">
                <h4>Qwills</h4>
            </div>
        </div>
    <div id="qwipp" class="feed">
        {% if qwipps |length != 0 %}
            {% for qwipp in qwipps %}
                <article onclick="location.href='{{ url_for('users.qwipp', username=qwipp.author.username, qwipp_id=qwipp.id) }}'" class="row content-section">
                    <div class="d-flex media">
                        <img class="me-3 rounded-circle border border-highlight" width="65px" height="65px" src="{{ url_for('static', filename='profile_pics/' + qwipp.author.image_file) }}">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="author-link-nh mr-2">{{ qwipp.author.displayname }}</a>
                                <small class="text-muted">@{{ qwipp.author.username }}</small>
                            </div>
                            <div class="content">
                                <p class="article-content">{{ qwipp.content }}</p>
                            <div>
                            <small class="date-time text-muted">{{ qwipp.date_posted.strftime('%b %d, %Y') }}</small>
                        </div>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <article class="row content-section profile-empty-content-section">
                <div class="media">
                    <div class="media-body">
                        <div class="content">
                            {% if user == current_user %}
                                <h4 class="article-content">Qwipp something to start filling up this feed!</h4>
                            {% else %}
                                <h4 class="article-content">There doesn't seem to be any content here.</h4>
                            {% endif %}
                        <div>
                    </div>
                </div>
            </article>
        {% endif %}
    </div>
    <div id="qwill" class="feed">
        {% if qwills |length != 0 %}
            {% for qwill in qwills %}
                <article onclick="location.href='{{ url_for('users.qwill', username=qwill.author.username, qwill_id=qwill.id) }}'" class="row content-section">
                    <div class="d-flex media">
                        <img class="me-3 rounded-circle border border-highlight" width="65px" height="65px" src="{{ url_for('static', filename='profile_pics/' + qwill.author.image_file) }}">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="author-link mr-2" href="{{ url_for('users.profile', username=qwill.author.username) }}">{{ qwill.author.displayname }}</a>
                                <small class="text-muted">@{{ qwill.author.username }}</small>
                            </div>
                            <div class="qwill-title">
                                <h2>{{ qwill.title }}</h2>
                            </div>
                            <div class="content">
                                {% if qwill.content | length > 256 %}
                                    <p class="article-content">{{ qwill.content[0:256] }}<small class="text-muted">... Read More</small></p>
                                {% else %}
                                    <p class="article-content">{{ qwill.content }}</p>
                                {% endif %}
                            <div>
                            <small class="date-time text-muted">{{ qwill.date_posted.strftime('%b %d, %Y') }}</small>
                        </div>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <article class="row content-section profile-empty-content-section">
                <div class="media">
                    <div class="media-body">
                        <div class="content">
                            {% if user == current_user %}
                                <h4 class="article-content">Create a Qwill to start filling up this feed!</h4>
                            {% else %}
                                <h4 class="article-content">There doesn't seem to be any content here.</h4>
                            {% endif %}
                        <div>
                    </div>
                </div>
            </article>
        {% endif %}
    </div>
    <script>
        function QwippQwill(evt, qwippQwill) {
          var i, feed, feedoption;
          feed = document.getElementsByClassName("feed");
          for (i = 0; i < feed.length; i++) {
            feed[i].style.display = "none";
          }
          feedoption = document.getElementsByClassName("feedoption");
          for (i = 0; i < feedoption.length; i++) {
            feedoption[i].className = feedoption[i].className.replace(" active", "");
          }
          document.getElementById(qwippQwill).style.display = "block";
          evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
{% endblock content %}