{% extends "main/layout.html" %}
{% block content %}
    <div class="followers">
        {% for user in followers %}
            {% if loop.length == 1 %}
                <article onclick="location.href='{{ url_for('users.profile', username=user.username) }}'" class="row content-section-only user-feed">
            {% elif loop.last %}
                <article onclick="location.href='{{ url_for('users.profile', username=user.username) }}'" class="row content-section-last user-feed-last">
            {% else %}
                <article onclick="location.href='{{ url_for('users.profile', username=user.username) }}'" class="row content-section user-feed">
            {% endif %}
                <div class="d-flex media">
                    <div class="col-lg d-flex">
                        <img class="me-3 rounded-circle border border-highlight" width="65px" height="65px" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
                        <div class="media-body">
                            <div class="article-metadata mb-2">
                                <a class="author-link me-1" href="{{ url_for('users.profile', username=user.username) }}">{{ user.displayname }}</a>
                                <small class="text-muted">@{{ user.username }}</small>
                            </div>
                            {% if user.bio %}
                                <div class="article-metadata bio mb-4">
                                    <p class="main-font-nh">{{ user.bio }}</p>
                                </div>
                            {% endif %}
                            <div class="followers-following mt-2">
                                <div class="followers">
                                    {% if user.followers.count() == 1 %}
                                        <a href="{{ url_for('users.user_followers', username=user.username) }}" class="main-font" id="user-followers-{{ user.id }}">{{ user.followers.count() | number_format }} Follower</a>
                                    {% else %}
                                        <a href="{{ url_for('users.user_followers', username=user.username) }}" class="main-font" id="user-followers-{{ user.id }}">{{ user.followers.count() | number_format }} Followers</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if request.MOBILE %}
                        <div class="follow col-sm ms-4 mt-4" style="text-align: right;">
                    {% else %}
                        <div class="follow col-sm mt-4" style="text-align: right;">
                    {% endif %}
                        {% if current_user.is_following(user) %}
                            <button type="button" id="follow-button-{{ user.id }}" onclick="followUser('{{ user.id }}'); event.stopPropagation();" class="btn btn-primary mb-2">Unfollow</button>
                        {% elif current_user == user %}

                        {% else %}
                            <button type="button" id="follow-button-{{ user.id }}" onclick="followUser('{{ user.id }}'); event.stopPropagation();" class="btn btn-outline-primary mb-2">Follow</button>
                        {% endif %}
                    </div>
                </div>
            </article>
        {% endfor %}
        <script>
          function followUser(user_id) {
                var btn = document.getElementById("follow-button-" + user_id);
                if (btn.getAttribute("class") === "btn btn-outline-primary mb-2") {
                    btn.setAttribute("class", "btn btn-primary mb-2");
                    btn.innerHTML = 'Unfollow';
                } else {
                    btn.setAttribute("class", "btn btn-outline-primary mb-2");
                    btn.innerHTML = 'Follow';
                }

                $.ajax({
                    url: '/u/' + user_id + '/follow',
                    type: 'POST',
                    data: { user_id },
                    success: function (data) {
                        if (parseInt(data) === 1) {
                            $('#user-followers-' + user_id).text(data + " Follower");
                        } else {
                            $('#user-followers-' + user_id).text(data + " Followers");
                        }
                    }
                });
            }
        </script>
    </div>
{% endblock content %}