body {
    background: #31263B;
    color: #EFDBF9;
    margin-top: 5rem;
}

.rounded-circle {
    background-color: #31263B;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.bg-main {
    background: #31263B;
}

.bg-main-highlight {
    background: #372C41;
}

.main-font {
    color: #EFDBF9;
    transition: color 0.25s ease;
}

.main-font-nh {
    color: #EFDBF9;
}

.main-font:hover {
    color: #BEA7E5;
}

.hidden {
    display: none;
}

/* Nav */

.site-header .navbar-nav .nav-link {
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand img {
    width: 2rem;
    height: 2rem;
}

.navbar-toggler {
    border-radius: 0.5rem;
    border: solid 1px #54485D;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.bottom-nav-mobile {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.bottom-nav-mobile-item {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    margin-left: 0 !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

/* Center Content (Feed) */

.center-content {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-left: 0.15rem solid;
    border-right: 0.15rem solid;

    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom: 0.15rem solid;

    border-top: 0.15rem solid;

    border-color: #43374C;
    margin-bottom: 2rem;
}

.center-content-top {
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom: 0.15rem solid;
    border-color: #43374C;
}

.feed-option {
    color: #54485D;
    cursor: pointer;
    padding: 1rem;
    background-color: #31263B;
    transition: background-color 0.25s ease, color 0.25s ease;
}

.feed-option:hover {
    background-color: #372C41;
    color: #EFDBF9;
}

.feed-option.active {
    background-color: #372C41;
    color: #EFDBF9;
}

.feed-qwill {
    border-top-right-radius: 1rem;
    border-left: 0.15rem solid;
    border-color: #43374C;
}

.feed-qwipp {
    border-top-left-radius: 1rem;
}

/* Qwipp/Qwill */

.author-link {
    text-decoration: none;
    color: #EFDBF9;
    transition: 0.25s ease color;
}

.author-link:hover {
    color: #BEA7E5;
}

.author-link-nh {
    text-decoration: none;
    color: #EFDBF9;
}

.author-link-nh:hover {
    color: #EFDBF9;
}

.article-content {
  white-space: pre-line;
}

.content-section {
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.15rem solid;
    border-color: #43374C;
    background-color: #31263B;
    transition: background-color 0.25s ease;
}

.content-section:hover {
    background-color: #372C41;
}

.content-section:last-child {
    border-bottom: none;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.border-highlight {
    --bs-border-color: #54485D;
}

.create-input {
    cursor: auto;
}

.create-input:hover {
    background-color: #31263B;
}

#qwipp-text-area {
    resize: none;
}

#qwill-text-area {
    resize: none;
}

.individual-qwipp {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    cursor: auto;
}

.individual-qwipp:hover {
    background-color: #31263B;
}

.individual-qwill {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    cursor: auto;
}

.individual-qwill:hover {
    background-color: #31263B;
}

.edit-content {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom: none;
}

/* Likes */

.likes {
    cursor: pointer;
}

/* Comment */

.comments {
    cursor: pointer;
}


/* individual content */

.individual-content {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    cursor: auto;
}

.individual-content:hover {
    background-color: #31263B;
}


/* Side Content Lists */

.list-group-item {
    background-color: #372C41;
    transition: background-color 0.25s ease;
    cursor: pointer;
}

.list-group-item:first-child {
    cursor: auto;
    border: none;
    border-bottom: 0.15rem solid;
    border-color: #43374C;
}

.list-group-item:first-child:hover {
    background-color: #372C41;
}

.list-group-item:hover {
    background-color: #43374C;
}

.list-group-item:last-child {
    border-bottom-right-radius: 1rem;
}

.list-group {
    border-bottom-right-radius: none;
    --bs-list-group-border-radius: 1rem;
    --bs-list-group-border-color: transparent;
}

/* btn */

.btn {
    --bs-btn-border-radius: 1rem;
}

/* Sign In/ Sign Up */

.sign-info-section {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-color: #43374C;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #31263B inset;
    -webkit-text-fill-color: #EFDBF9;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px #31263B inset;
    -webkit-text-fill-color: #EFDBF9;
}

.form-control {
    background-color: #31263B;
    border-color: #43374C;
    color: #EFDBF9;
}

.form-control:focus {
    background-color: #372C41;
    border-color: #54485D;
    color: #EFDBF9;
    box-shadow: 0 0 0 0.25rem rgb(67 55 76 / 25%);
}

/* error */

.error-section {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    border-color: #43374C;
}

/* modal */

.modal {
    --bs-modal-bg: #31263B;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
    display: block;
}

.btn-close {
    background-color: #EFDBF9;
    transition: background-color 0.25s ease;
    opacity: 1;
}

.btn-close:hover {
    background-color: #BEA7E5;
    opacity: 1;
}

/* input file */

::file-selector-button {
  display: none;
}

.custom-file-upload {
    cursor: pointer;
}


/* profile */

.profile-content {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-color: #43374C;
}

.profile-center-content-top {
    text-align: center;
    border-top: 0.15rem solid;
    border-bottom: 0.15rem solid;
    border-color: #43374C;
}

.profile-button {
    text-align: right;
}

.profile-feed-qwill {
    border-left: 0.15rem solid;
    border-color: #43374C;
}

.profile-picture {
    margin-top: -4.25rem;
}

.banner-image {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom: 0.15rem solid;
    padding: 0;
    vertical-align: middle;
    border-color: #43374C;
    object-fit: cover;
}

.profile-empty-content-section {
    cursor: auto;
    text-align: center;
}

.profile-empty-content-section:hover {
    background-color: #31263B;
}

/* alert flash messages */

.alert {
    margin-top: 1rem;
    border-radius: 1rem;
}

/* settings */

.delete-user {
    margin-left: none;
}


/*  primary color change */

.alert-primary {
    color: #c072e7;
    background-color: #13c189116;
    border-color: #134178113;
}

.alert-primary hr {
    border-top-color: #12b16210f;
}

.alert-primary .alert-link {
    color: #ac46e0;
}

.badge-primary {
    color: #43374C;
    background-color: #EFDBF9;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #43374C;
    background-color: #dbaff1;
}

.bg-primary {
    background-color: #EFDBF9 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #dbaff1 !important;
}

.border-primary {
    border-color: #EFDBF9 !important;
}

.btn-primary {
    color: #43374C;
    background-color: #EFDBF9;
    border-color: #EFDBF9;
    transition: background-color 0.25s ease;
}

.btn-primary:hover {
    color: #43374C;
    background-color: #e1bcf3;
    border-color: #dbaff1;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(67 55 76, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #43374C;
    background-color: #EFDBF9;
    border-color: #EFDBF9;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #43374C;
    background-color: #dbaff1;
    border-color: #d5a2ef;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(239, 219, 249, 0.5);
}

.btn-outline-primary {
    color: #EFDBF9;
    background-color: transparent;
    border-color: #EFDBF9;
    transition: background-color 0.25s ease, color 0.25s ease;
}

.btn-outline-primary:hover {
    color: #43374C;
    background-color: #EFDBF9;
    border-color: #EFDBF9;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(67 55 76, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #EFDBF9;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #43374C;
    background-color: #EFDBF9;
    border-color: #EFDBF9;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(239, 219, 249, 0.5);
}

.list-group-item-primary {
    color: #c072e7;
    background-color: #134178113;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #c072e7;
    background-color: #12b16210f;
}

.list-group-item-primary.list-group-item-action.active {
    color: #43374C;
    background-color: #c072e7;
    border-color: #c072e7;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #134178113;
}

.table-hover .table-primary:hover {
    background-color: #12b16210f;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #12b16210f;
}

.text-primary {
    color: #EFDBF9 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #dbaff1 !important;
}