{% extends "main/layout.html" %}
{% block content %}
    <div>
        <div class="qwipp-qwill">
            <div class="row center-content-top">
                <div class="col feed-option feed-qwipp active">
                    <h4>Qwipps</h4>
                </div>
                <div class="col feed-option feed-qwill">
                    <h4>Qwills</h4>
                </div>
            </div>
            <div class="qwipp-feed">
                {% if current_user.is_authenticated %}
                    <div class="create-input create-qwipp row content-section">
                        <form method="POST" action="">
                          {{ qwipp_form.hidden_tag() }}
                              <div class="form-group">
                                  {% if qwipp_form.content.errors %}
                                    {{ qwipp_form.content(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in qwipp_form.content.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                  {% else %}
                                    {{ qwipp_form.content(autofocus=True, id="qwipp-text-area", rows="5", class="form-control form-control-lg") }}
                                  {% endif %}
                                  <span id="qwipp-form-count" class="main-font-nh">0</span>
                                  <span id="qwipp-form-count-maximum" class="main-font-nh">/ 256</span>
                              </div>
                          </fieldset>
                          <div class="form-group mt-4">
                              {{ qwipp_form.submit(class="btn btn-outline-info") }}
                          </div>
                      </form>
                    </div>
                {% endif %}
                {% for qwipp in qwipps %}
                    <article onclick="location.href='{{ url_for('users.qwipp', username=qwipp.author.username, qwipp_id=qwipp.id) }}'" class="row content-section">
                        <div class="d-flex media">
                            <img class="me-3 rounded-circle border border-highlight" width="65px" height="65px" src="{{ url_for('static', filename='profile_pics/' + qwipp.author.image_file) }}">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <a class="author-link mr-2" href="{{ url_for('users.profile', username=qwipp.author.username) }}">{{ qwipp.author.displayname }}</a>
                                    <small class="text-muted">@{{ qwipp.author.username }}</small>
                                </div>
                                <div class="content">
                                    <p class="article-content">{{ qwipp.content }}</p>
                                <div>
                                <small class="date-time text-muted">{{ qwipp.date_posted.strftime('%b %d, %Y') }}</small>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
            <div class="qwill-feed">
                <div class="create-input create-qwill row content-section hidden">

                </div>
            </div>
        </div>
    </div>
    <script>
        $('textarea').keyup(function() {

          var characterCount = $(this).val().length,
              qwipp_counter = $('#qwipp-form-count'),
              qwipp_counter_maximum = $('#qwipp-form-count-maximum')

          qwipp_counter.text(characterCount);
        });
    </script>
{% endblock content %}