{% extends "main/layout.html" %}
{% block content %}
    <ul class="list-group row">
        <li class="list-group-item bg-main main-font-nh"><h3>Settings</h3></li>
        <li onclick="location.href='{{ url_for('users.profilesettings') }}'" class="list-group-item bg-main main-font-nh">Profile</li>
        <li onclick="location.href='{{ url_for('users.security') }}'" class="list-group-item bg-main main-font-nh">Security</li>
        <li onclick="location.href='{{ url_for('users.notificationsettings') }}'" class="list-group-item bg-main main-font-nh">Notifications</li>
    </ul>
{% endblock content %}